.badge{
    background-color: tomato;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}

.badge__redpoint{
    display: block;
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
}