.screen-header{
    display: flex;
    box-sizing: border-box;
    margin-top:25px;
    justify-content: space-between;
    padding: var(--horizontal-space);
    align-items: center;
    margin-bottom: 15px;
    
}

.screen-header__title{
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span{
    margin-left: 25px;
}

.screen-header__icons{
    position: relative;
}
.screen-header__redpoint{
    position: absolute;
    top:-12px;
    right: -5px;
}

@keyframes rotateCog{
    from{
        transform: none;

    }to{
        transform: rotateZ(360deg);
    }
}


.screen-header__icons .fa-cog:hover{
    animation: rotateCog 1s linear infinite;
}  